<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Token:</strong>
  <%= @project.token %>
</p>

<ul>
  <%= render partial: 'deploys/deploy', layout: 'application/li', collection: @deploys %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
